/*--------------------------------------*/
/*BASIC SETUP*/
/*--------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;

}

/*--------------------------------------*/
/*BASIC SETUP END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*HEADER SECTION*/
/*--------------------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(img/slide.png);
  background-position: top;
  height: auto;
  background-size: cover;
  overflow-y: hidden;
}

.prev-arrow {
  position: absolute;
  width: 3.5%;
  opacity: 0.5;
  top: 74%;
  left: 1%;

}
.next-arrow {
  position: absolute;
  width: 3.5%;
  opacity: 0.5;
  top: 74%;
  left: 96%;
}
.next-arrow:hover,
.prev-arrow:hover {
  opacity: 1;
}

#prev {

}

#next {
}

.slidertext {
  font-size: 67.5%;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.15px;
  color: white;
  position: absolute;
  width: 400px;
  top: 73.8%;
  left: 25.8%;
  transform: translate(-50%, -50%);
}

#enroll {
  letter-spacing: -1.1px;
  line-height: 1;
  font-size: 298%;
  font-weight: 100;
  padding-bottom: 28.8px;
}

.selector {
margin: 35.72% 0 0 11%
}

.selector li{
  display: inline-block;
  margin: 0 0.65% 0 0;
  height: auto;
  width: 3.8%;
  border-bottom: 3px solid white;

}

.redselector a {
  color: transparent;
}

.redselector a:active,
.redselector a:hover {
  border-bottom: 3px solid #ff3333;
  padding-right: 10%;
}

/*--------------------------------------*/
/*NAV SECTION*/
/*--------------------------------------*/
.row {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 100%;
  margin: 0 auto;
  height: 92px;
}

.logo {
  margin: 10px 0 0 42px;
  height: 73px;
  width: auto;
  float: left;
}

.main-nav {
  float: right;
  list-style: none;
  width: 72.5%;
}

.main-nav li {
  display: inline-block;
  margin-left: 4.12%;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 1.1em;
}

.top-nav {
  background-color: rgb(255, 51, 51);
  padding: 0.8% 0;


}

.top-nav li{

}
.top-nav li a:link,
.top-nav li a:visited {
  font-family: 'Open Sans',sans-serif;
  font-weight: 900;
  color: white;
  font-size: 0.500em;
  letter-spacing: 2.5px;
}
.top-nav li a:hover {
  opacity: 0.6;
}

.bottom-nav {
  margin: 1.5% 0;
}

.bottom-nav li a:link,
.bottom-nav li a:visited {
  color: #000000;
  padding-right: 1%;
  margin-left: -22%;
  font-weight: 900;
  font-size: 15px;
}

.bottom-nav li a:hover {
  opacity: 0.6;
}

.responsivenav {
  display: none;
}

/*--------------------------------------*/
/*NAV SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*I WANT TO SECTION*/
/*--------------------------------------*/
.wantblock {
  height: 18.4em;
    width: 73%;
    transform: translate(1.3%, 10%);
    margin: 6.7% 0 0 25.9%
}

.wantblockresponsive {
  display: none;
}

.wantlist {
  float: left;
  width: 31.4%;
  height: 16.50em;
}

#bone {
  background-color: #88898e;
}

#bone:hover {
    background-color: rgb(255, 51, 51);
}

#btwo {
  background-color: rgb(154, 155, 160);
}

#btwo:hover {
    background-color: rgb(255, 51, 51);
}

#bthree {
  background-color: #B0B0B0;
}

#bthree:hover {
    background-color: rgb(255, 51, 51);
}

#bfour {
  background-color: #C8C8C8;
}

#bfour:hover {
    background-color: rgb(255, 51, 51);
}

.wantlist li {
  height: 8.25em;
  list-style: none;
  text-align: center;
  padding: 20.2% 0;
}

.wantlist li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.wanttext {
  float: right;
  width: 68.6%;
  height: 100%;
}

.commpic {
  width: 100%;
  height: auto;
}

.decoration::before {
    content: '.';
    position: absolute;
    margin: -6.1% 0 0 0;
    color: transparent;
    width: 30%;
    background: transparent;
    border-bottom: 23px solid white;
    border-right: 50px solid transparent;
}

.decoration::after {
    content: '.';
    position: absolute;
    margin: -6.1% 0% 0% 33.5%;
    width: 30.25%;
    color: transparent;
    background: transparent;
    border-bottom: 23px solid white;
    border-left: 50px solid transparent;
}

#wantdown{
  margin: -2.7% 0 0 25.9%;
}

.applyblock {
  position: relative;
  width: 100%;
  padding: 8.6% 0 0 5.79%;
  font-size: 1.49rem;
  line-height: 1.6rem;
  font-weight: 900;
  color: #3a4d69;
}

.applyfirst {
  width: 63.6%;
  float: left;
}

.applyfirst ul {
  padding-top: 10%;
}

.applyfirst li {
  padding-bottom: 1.6%;
  list-style: none;
}

.applyfirst li a {
  text-decoration: none;
  color: #ff3333;
  font-size: 0.76rem;
  line-height: 1.25rem;
  height: 25%;
}

.applyfirst li a:hover {
  text-decoration: underline;
}

#applylist1 {
  float:left;
}

#applylist2 {
  float:right;
}


.applysec {
  width: 34%;
  float: right;
}

.sectext {
  font-weight: 900;
  font-size: 0.47em;
  line-height: 1.45em;
  padding-top: 3.4em;
}

/*--------------------------------------*/
/*I WANT TO SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*HEADER SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*FEATURED NEWS SECTION*/
/*--------------------------------------*/
.sectiontitle {
  font-weight: 400;
  text-transform: uppercase;
  margin: 3.4% 0 0 2.3%;
  color: #3a4d37;
  font-size: 1.5rem;
}

.featured {
  height: 330px;
  overflow-y: hidden;
  width: 100%;
  font-size: 0.2em;
  padding: 4% 4%;
}

#featuredmobile {
  display: none;
}

.featuredtext {
  width: 39.9%;
  display: inline-block;
  background-color: #88898e;
  transform: scale(1.3);
  margin: 1.5% 0 0 4%;
}

.featuredtextpos {
  position: absolute;
  padding: 21.5% 0 0 52.7%;
  color: white;
  font-size: 2.7em;
  line-height: 1.68em;
  font-weight: 900;
}


#studentspot {
  color: white;
  font-size: 1.4em;
  font-weight: 900;
  position: absolute;
  margin: -19.7% 0 0 0;
}

#iesha {
  padding-top: 0;
  color: white;
  position: absolute;
  font-size: 2.19em;
  margin: -7% 0 0 0;
}

.spotlight {
  vertical-align: top;
  display: inline-block;
  width: 19.4%;
  height: 301px;
  background-position: center;
  background-size: cover;
}

#spotlight1 {
  width: 50%;
  background-image: url("img/girl-student.png");
  background-color: #88898e;
}

#spotlight2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("img/JS6_4325.png");
  transform: scale(1.3);
  height: 233px;
  margin: 1% 0 0 10%;
}

#spotlight3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("img/js3.png");
  transform: scale(1.3);
  height: 233px;
  margin: 1% 0 0 7%;
}

.featurestand {
  position: absolute;
  font-size: 3.8em;
  color: white;
  margin: 77% 0 0 5%;
  font-weight: 900;
}
/*--------------------------------------*/
/*FEATURED NEWS SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*UPCOMING EVENTS SECTION*/
/*--------------------------------------*/
#upcomingmobile {
  display: none;
}

.upcomingtitle {
  display: inline-block;
}

#moreupcoming {
  text-decoration: none;
  margin-left: 70.5%;
  font-size: 0.5em;
}

#moreupcoming a {
  color: black;
  text-decoration: none;
}

#moreupcoming a:hover {
  text-decoration: underline;
}

.upcoming {
  margin: 3.3% 0 0 0;
}

.month {
  display: inline-block;
  width: 80px;
  text-align: center;
  margin: 0 19.4% 0 5.7%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 1.2em;
  height: 33px;
  background: #ff3333;
  color: white;
  text-transform: uppercase;
}

.day {
  display: block;
  width: 80px;
  background-color: white;
  color: black;
  font-size: 1.6em;
}

.textupcomingbar {
  width: 100%;
  margin: -4.8% 0 0 0;
}

.textupcoming {
  font-weight: 900;
  display: inline-block;
  font-size: 1.02em;
  margin: 0 1.6% 0 12.5%;
}

.textupcoming a {
  text-decoration: none;
  color: black;
}

.textupcoming a:hover {
  text-decoration: underline;
}

/*--------------------------------------*/
/*UPCOMING EVENTS SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*GET CONNECTED SECTION*/
/*--------------------------------------*/
#getconmobile {
  display: none;
}

.getconnected {
  height: 684px;
  width: 100%;
  margin: 4.7% 0 0 0;
}

.getconnected-top {
    height: 50%;
    font-size: 0;
}

.getconnected-cube {
  height: 100%;
  width: 25%;
  padding-right: 0;
  display: inline-block;
  color: white;
}

.getconnected-bottom {
    height: 50%;
    font-size: 0;
}

#FirstBlockUp {
  position: relative;
  vertical-align: top;
  background-color: #ff3333;
  font-size: 2em;
  margin: 0 0 0 0;
}

.getconnected-iconsbar {
    margin: 46.3% 0 0 0;
    height: 100px;
}

.getconnected-icons {
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 0 0;
  padding-left: 12.3%;
  color: #f0f0f2;
  font-size: 1.7rem;
}

.getconnected-icons a {
  color: #f0f0f2;
}

.getconnected-icons a:hover {
  opacity: 0.7;
}

.instagram-icons {
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  list-style: none;
  padding: 88% 0 0 10%;
  font-size: 1.2rem;
}

.single-icons {
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  list-style: none;
  margin: -8% 0 0 8%;
  font-size: 1.2rem;
}

.fa-instagram {
  color: #f0f0f2;
}


.fa-twitter{
  color: red;
}

#SecondBlockUp {
  position: relative;
  vertical-align: top;
  background-image: url("img/img6.png");
  background-position: center;
  background-size: cover;
  font-size: 2em;
  margin: 0 0 0 0;
}

#ThirdBlockUp {
  position: relative;
  vertical-align: top;
  background-color: #f0f0f2;
  font-size: 2em;
  margin: 0 0 0 0;
}

#ForthBlockUp {
  position: relative;
  vertical-align: top;
  background-image: url("img/img0.png");
  background-position: center;
  background-size: cover;
  font-size: 2em;
  margin: 0 0 0 0;
}

#FirstBlockDown {
  position: relative;
  vertical-align: top;
  background-image: url("img/img1.png");
  background-position: center;
  background-size: cover;
  font-size: 2em;
  margin: 0 0 0 0;
}

#SecondBlockDown {
  vertical-align: top;
  background-color: #f0f0f2;
  font-size: 2em;
  margin: 0 0 0 0;
}

#ThirdBlockDown {
  position: relative;
  vertical-align: top;
  background-image: url("img/img2.png");
  background-position: center;
  background-size: cover;
  font-size: 2em;
  margin: 0 0 0 0;
}

#ForthBlockDown {
  position: relative;
  vertical-align: top;
  background-color: #f0f0f2;
  font-size: 2em;
  margin: 0 0 0 0;
}

#getconnected-title {
  color: #f0f0f2;
  vertical-align: top;
  margin: 8% 0 0 7.2%;
  font-size: 2.1rem;
  font-weight: 900;
}

.twit {
  position: absolute;
  font-size: 0.678rem;
  color: white;
  margin: 90% 0 0 39.5%;
  font-weight: 900;
}

.twit a {
  text-decoration: none;
  color: white;
}

.twit a:hover {
  text-decoration: underline;
}

#twitred {
position: relative;
color: red;
margin: -4.5% 0% 0% 42%;
font-size: 0.6rem;
}

#twitred a {
  text-decoration: none;
  color: red;
}

#twitred a:hover {
  text-decoration: underline;
}

.advicetext {
  color: #646e82;
  font-size: 0.676rem;
  margin: 40% 8%;
}

.advicetext a {
  text-decoration: none;
  color: red;
}

.advicetext a:hover {
  text-decoration: underline;
}

/*--------------------------------------*/
/*GET CONNECTED SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*FORM SECTION*/
/*--------------------------------------*/

.Form {
  width: 87.08333%;
  height: 220px;
  float: right;
  background-color: #87888e;
  color: white;
}

.input {
  padding: 1.3% 0 1.3% 1.3%;
  width: 14.8%;
  color: #87888e;
}

.inputbar {
  margin: 2% 0 0 3.4%;
}
.button {
  width: 12%;
  font-weight: 900;
  color: white;
  padding: 1.3% 1.3% 1.3% 1.3%;
  background-color: #87888e;
}

#needinfo {
  margin: 3.5% 0 0 3.7%;
  font-size: 1.5em;
}

#email {
  width: 22.2%;
}

#call {
  display: inline-block;
  padding: 0 0 0 2%;
  font-size: 1.3em;
  font-weight: 900;
}

#number {
  font-weight: 900;
  font-size: 1.35em;
}

/*--------------------------------------*/
/*FORM SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*READING AREA SECTION*/
/*--------------------------------------*/

.readingarea{
  background-image: url(img/third_image_back.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 16.3% 0 0 0;
  width: 100%;
  height: 633px;
}
/*--------------------------------------*/
/*READING AREA SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*ABOUT AREA SECTION*/
/*--------------------------------------*/

.aboutcontainer {
  width: 87.8%;
  height: 736px;
  margin: -18% 0 0 0;
  font-size: 0;
}

.aboutleft {
  float: left;
  width: 31.5%;
  height: 100%;
  background-color: #ff3333;
}

.aboutright {
  float: right;
  width: 68.5%;
  height: 100%;
}

.abouttop {
  width: 100%;
  height: 61.5%;
  background-image: url("img/img5.png");
  background-position: left;
  background-size: cover;
  zoom: 1;
}

.aboutdown {
  width: 100%;
  height: 38.5%;
  overflow-y: hidden;

}

.abouttitle {
  font-size: 1.5rem;
  padding: 25.5% 0 0 8.5%;
  color: white;
  text-transform: uppercase;
}

.abouttext {
  font-size: 0.68rem;
  line-height: 1.66em;
  font-weight: 900;
  color: white;
  padding: 7% 0 0 10%;
}

#abouttitlegray {
  color: #89898e;
  font-weight: 100;
  padding: 4.7% 0 0 4.6%;
}

#abouttextblack {
  color: black;
  padding: 1.6% 0 0 5%;
}

/*--------------------------------------*/
/*ABOUT AREA SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*SPONSORS AREA SECTION*/
/*--------------------------------------*/
.sponsors {
  width: 100%;
  padding-left: 13%;
  height: 268px;
  background-color: #bfbfbf;
}

.sponsors a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 5% 5% 4.5% 5%;
  padding: 0 3.2% 0 3.2%;
}

.sponsors a:hover {
  opacity: 0.6;
}

/*--------------------------------------*/
/*SPONSORS AREA SECTION END*/
/*--------------------------------------*/

/*--------------------------------------*/
/*FOOTER SECTION*/
/*--------------------------------------*/
footer {
  background-color: #323339;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 400px;
  font-size: 0;
}

.footerleft {
  width: 70%;
  height: 100%;
  float: left;
}

.footerright {
  width: 30%;
  height: 100%;
  float: right;
}

.footerlogo {
  margin: 17% 0 0 0;
  width: 60%;
}

.footertext {
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 0.51rem;
  padding: 10% 0 0 0;
  line-height: 2em;
}

.footerlistbar {
  font-family: 'Raleway',sans-serif;
  font-weight: 900;
  font-size: 0.5rem;
  letter-spacing: 0.6px;
  width: 75.5%;
  margin: 6% 0% 0 14%;
  padding: 0 0% 5% 0;
  color: red;
  border-bottom: 1.4px solid white;
}

.footerlistbar ul {
  display: inline-block;
  padding: 0 0 0 6.5%;
  vertical-align: top;
}

.footerlist {
  list-style: none;
  margin: 7% 0 0 0;

}

.footerlist a {
  color: white;
  text-decoration: none;
}

.footerlist a:hover {
  text-decoration: underline;
}

.footericonbar {
  font-size: 40px;
  width: 100%;
  margin: 5% 0 0 34.5%;
}

.footericon {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 2%;
}

.footericon a {
  color: white;
  text-decoration: none;
}

#white {
  color: white;
}

.footericon a:hover {
  opacity: 0.7;
}
/*--------------------------------------*/
/*FOOTER SECTION END*/
/*--------------------------------------*/

/*-------------------------------------------------------------------------*/
/*RESPOSIVE STYLES*/
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){


/*--------------------------------------*/
/*NAV SECTION*/
/*--------------------------------------*/
header {
  height: 127vw;
}
.logo {
  width: 27%;
  height: 8%;
  margin: 4% 0 0 16%;
  position: absolute;
}

.row {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 100%;
  margin: 0 auto;
  height: 72px;
}

.main-nav {
  width: 100%;
  height: 150px;
}

.top-nav {
  height: 5%;
}

.top-nav li{
  display: none;
}
.bottom-nav {
  padding: 0;
  height: 0;
}

.top-nav li,
.bottom-nav li{
  display: none;
}

.responsivenav {
  display: block;
  margin: 1% 0 0 0;
  float: right;
  font-size: 1.7em;
  list-style: none;
}

.responsivenav li {
  display: inline-block;
  margin: 0 0 0 0;
}

.responsivenav li a {
  color: black;
  text-decoration: none;
}

.next-arrow {
  width: 16.5%;
  top: 30%;
  left: 82%;
}

.prev-arrow {
  width: 16.5%;
  top: 30%;
  left: 1%;
}

.selector {
  margin: 96% 0 0 12%;
}

.selector li {
  width: 20%;
}

.slidertext {
  display: none;
}

.wantblock {
  display: none;
}

.wantblockresponsive {
  display: block;
  width: 100%;
  background-color: #ff3333;
}

.wantblockresponsive li {
  height: 4.5em;
  padding: 9% 0 0 17%;
  list-style: none;
}
.enrolldarker a,
.enrolllighter a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}


.enrollnow {
  padding: 3% 12% 3% 12%;
  background-color: white;
  color: black;
  text-decoration: none;
}

.enrolldarker {
  background-color: #88898e;
}

.enrolllighter {
  background-color: rgb(154, 155, 160);
}
/*--------------------------------------*/
/*NAV SECTION END*/
/*--------------------------------------*/
#featuredmobile {
  display: block;
}

.featuredsmobile {
    width: 80%;
    margin: 0 0 0 4%;
}

.sectiontitle {
  font-size: 1.3rem;
}
.featurestand {
    margin: 66% 0 0 5%;
    font-size: 0.9em;
}

.featureone {
  background-image: url(img/girl-student.png);
  height: 350px;
  background-position: center;
  background-size: cover;
}

.featuretwo {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(img/JS6_4325.png);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.featurethree {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(img/js3.png);
  height: 300px;
  background-position: center;
  background-size: cover;

}
#upcomingmobile {
  display: block;
  height: 125px;

}

#getconmobile {
  display: block;
}

.getconnected-cube {
  width: 100%;
}

.textupcoming {
  margin: 5% 0 0 -15%;
  position: absolute;
}

.Form {
    width: 100%;
    height: 170px;
}

.footerleft {
  display: none;
}

.footerright{
  width: 100%;
}

.footerlogo {
  width: 60%;
  margin: 8% 0 0 14%;
}

.footertext {
  font-size: 0.53rem;
  text-align: center;
  margin: 0 0 0 -10%;
}



#featuredpc {
  display: none;
}

#events {
  display: none;
}

#getcon {
  display: none;
}


.readingarea {
  display: none;
}

.aboutcontainer {
  display: none;
}

.sponsors {
  display: none;
}

#pcfooter {
  display: none;
}
}
/*-------------------------------------------------------------------------*/
/*RESPOSIVE STYLES END*/
/*-------------------------------------------------------------------------*/
