/*--------------------------------------*/
/*ABOUT AREA SECTION*/
/*--------------------------------------*/

.aboutcontainer {
  width: 87.8%;
  height: 736px;
  margin: -18% 0 0 0;
  font-size: 0;
  .aboutleft {
    float: left;
    width: 31.5%;
    height: 100%;
    background-color: #ff3333;
    .abouttitle {
      font-size: 1.5rem;
      padding: 25.5% 0 0 8.5%;
      color: white;
      text-transform: uppercase;
    }

    .abouttext {
      font-size: 0.68rem;
      line-height: 1.66em;
      font-weight: $mediumweight;
      color: white;
      padding: 7% 0 0 10%;
    }
  }

  .aboutright {
    float: right;
    width: 68.5%;
    height: 100%;
    .abouttop {
      width: 100%;
      height: 61.5%;
      background-image: url("img/img5.png");
      background-position: left;
      background-size: cover;
      zoom: 1;
    }

    .aboutdown {
      width: 100%;
      height: 38.5%;
      overflow-y: hidden;
      #abouttitlegray {
        color: #89898e;
        font-weight: $lightweight;
        padding: 4.7% 0 0 4.6%;
        #abouttextblack {
          color: black;
          padding: 1.6% 0 0 5%;
        }
      }
    }
  }
}

/*--------------------------------------*/
/*ABOUT AREA SECTION END*/
/*--------------------------------------*/
