/*--------------------------------------*/
/*FEATURED NEWS SECTION*/
/*--------------------------------------*/
#featuredpc {
  margin-top: 1350px;
  .featured {
    height: 330px;
    overflow-y: hidden;
    width: 100%;
    font-size: 0.2em;
    padding: 4% 4%;
    .featuredtext {
      width: 39.9%;
      display: inline-block;
      background-color: #88898e;
      transform: scale(1.3);
      margin: 1.5% 0 0 4%;
      #spotlight1 {
        width: 50%;
        background-image: url("img/girl-student.png");
        background-color: #88898e;
        .featuredtextpos {
          position: absolute;
          padding: 21.5% 0 0 52.7%;
          color: white;
          font-size: 2.7em;
          line-height: 1.68em;
          font-weight: $bigweight;
          #studentspot {
            color: white;
            font-size: 1.4em;
            font-weight: $bigweight;
            position: absolute;
            margin: -19.7% 0 0 0;
          }
          #iesha {
            padding-top: 0;
            color: white;
            position: absolute;
            font-size: 2.19em;
            margin: -7% 0 0 0;
          }
        }
      }
    }
    #spotlight2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("img/JS6_4325.png");
      transform: scale(1.3);
      height: 233px;
      margin: 1% 0 0 10%;
    }

    #spotlight3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("img/js3.png");
      transform: scale(1.3);
      height: 233px;
      margin: 1% 0 0 7%;
    }

    .featurestand {
      position: absolute;
      font-size: 3.8em;
      color: white;
      margin: 77% 0 0 5%;
      font-weight: $bigweight;
    }
    .spotlight {
      vertical-align: top;
      display: inline-block;
      width: 19.4%;
      height: 301px;
      background-position: center;
      background-size: cover;
    }
  }
}
.sectiontitle {
  font-weight: $mediumweight;
  text-transform: uppercase;
  margin: 3.4% 0 0 2.3%;
  color: #3a4d37;
  font-size: 1.5rem;
}
#featuredmobile {
  display: none;
}

@media only screen and (max-width: 767px){

  #featuredpc {
    display: none;
  }
  #featuredmobile {
    display: block;
    margin: 22rem 0 0 0;
  }

  .featuredsmobile {
    width: 82%;
    margin: 0 auto;
    .featurestand {
      position: absolute;
      color: white;
      font-weight: $bigweight;
      margin: 62% 0 0 5%;
      font-size: 0.9em;
    }
    .featureone {
      background-image: url(img/girl-student.png);
      height: 350px;
      background-position: center;
      background-size: cover;
      margin-bottom: 2rem;
    }
    .featuretwo {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(img/JS6_4325.png);
      height: 300px;
      background-position: center;
      background-size: cover;
      margin-bottom: 2rem;
    }
    .featurethree {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(img/js3.png);
      height: 300px;
      background-position: center;
      background-size: cover;
      margin-bottom: 2rem;
    }
  }
  .sectiontitle {
    font-size: 1.3rem;
    margin: 1rem;
  }

}





/*--------------------------------------*/
/*FEATURED NEWS SECTION END*/
/*--------------------------------------*/
