/*--------------------------------------*/
/*READING AREA SECTION*/
/*--------------------------------------*/

.readingarea{
  background-image: url(img/third_image_back.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 16.1% 0 0 0;
  width: 100%;
  height: 742px;
}
/*--------------------------------------*/
/*READING AREA SECTION END*/
/*--------------------------------------*/
