
/*--------------------------------------*/
/*SPONSORS AREA SECTION*/
/*--------------------------------------*/
.sponsors {
  width: 100%;
  padding-left: 13%;
  height: 317px;
  background-color: #bfbfbf;
  a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 5.8% 5.6%;
    padding: 0 3.2% 0 3.2%;
    &:hover {
      opacity: 0.6;
    }
  }
}

/*--------------------------------------*/
/*SPONSORS AREA SECTION END*/
/*--------------------------------------*/
