/*--------------------------------------*/
/*VARIABLES*/
/*--------------------------------------*/

$mainred: #ff3333;
$mainfont: 'Raleway', sans-serif;
$mediumweight: 400;
$bigweight: 900;
$lightweight: 100;
